<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />

    <application>
        <service
            android:name=".tool.accessibility.PicMeAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true"
            android:label="@string/picme_accessibility_service_label"
            android:description="@string/picme_accessibility_service_description">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/picme_accessibility_service_config" />
        </service>
    </application>

</manifest>
